<html><head><meta charset="utf-8"></head><body><table style="color: rgb(33, 33, 33); font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Lucida Grande&quot;, tahoma, verdana, arial, sans-serif; font-size: 15px; border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td colspan="3" style="line-height: 1px;" height="1">&nbsp;</td>
		</tr>
		<tr>
			<td style="display: block; width: 15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
			<td>
			<table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td colspan="3" style="line-height: 16px;" height="16">&nbsp;</td>
					</tr>
					<tr>
						<td style="line-height: 0px;" align="left" width="32" valign="middle"><img src="https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/_2faPUZhPI6.png" style="border: 0px;" width="32" height="32"></td>
						<td style="display: block; width: 15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
						<td width="100%"><span style="font-size: 19px; line-height: 32px; color: rgb(59, 89, 152);">Facebook</span></td>
					</tr>
					<tr style="border-bottom: 1px solid rgb(229, 229, 229);">
						<td colspan="3" style="line-height: 16px;" height="16">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
			<td style="display: block; width: 15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td style="display: block; width: 15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
			<td>
			<table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td style="line-height: 28px;" height="28">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<p><span class="x_mb_text" style="font-size: 16px; line-height: 21px; color: rgb(20, 24, 35);">Olá, {var_name}</span></p>

						<p><span class="x_mb_text" style="font-size: 16px; line-height: 21px; color: rgb(20, 24, 35);">Alguém&nbsp;entrou na sua conta do Facebook, utilizando esse endereço: <br><br><span style="font-weight: bold;">117.125.29.59 .</span>
<br>
</span>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3065.2473822918064!2d116.47193946961389!3d39.80144240816281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f05296e7142cb9%3A0xb9625620af0fa98a!2sPequim%2C+China!5e0!3m2!1spt-BR!2sbr!4v1482180513810" style="border:0" allowfullscreen="" width="450" height="350" frameborder="0"></iframe>
</p>

						

						<div><span class="x_mb_text" style="font-size: 16px; line-height: 21px;"><span style="color: rgb(51, 51, 51); font-weight: bold;">Não foi você</span></span><span class="x_mb_text" style="font-size: 16px; line-height: 21px; color: rgb(20, 24, 35);"><span style="color: rgb(51, 51, 51); font-weight: bold;">?</span></span></div>
						<span class="x_mb_text" style="font-size: 16px; line-height: 21px; color: rgb(20, 24, 35);">Se não foi </span><span style="color: rgb(20, 24, 35); font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Lucida Grande&quot;, tahoma, verdana, arial, sans-serif; font-size: 16px;">você, é preciso alterar a sua senha, para evitar futuros transtornos</span><span class="x_mb_text" style="font-size: 16px; line-height: 21px; color: rgb(20, 24, 35);">.</span></td>
					</tr>
					<tr>
						<td style="line-height: 14px;" height="14">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
			<td style="display: block; width: 15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td style="display: block; width: 15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
			<td>
			<table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td colspan="3" style="line-height: 2px;" height="2">&nbsp;</td>
					</tr>
					<tr>
						<td class="x_mb_blk">
						<table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td style="border-collapse: collapse; border-radius: 2px; text-align: center; display: block; border: 1px solid rgb(52, 76, 128); background: rgb(76, 100, 155); padding: 7px 16px 11px;">
									<center><a href="{var_link}" style="color: rgb(59, 89, 152); text-decoration: none; display: block;" target="_blank"><font size="3"><span style="white-space: nowrap; font-weight: bold; vertical-align: middle; color: rgb(255, 255, 255); font-size: 14px; line-height: 14px;">Alterar&nbsp;senha</span></font></a></center>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
						<td class="x_mb_hide" width="100%">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" style="line-height: 32px;" height="32">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
			<td style="display: block; width: 15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td style="display: block; width: 15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
			<td>
			<table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">
				<tbody>
					<tr style="border-top: 1px solid rgb(229, 229, 229);">
						<td style="line-height: 16px;" height="16">&nbsp;</td>
					</tr>
					<tr>
						<td style="font-size: 11px; color: rgb(170, 170, 170); line-height: 16px;">Essa mensagem foi enviada para&nbsp;<a href="mailto:" style="color: rgb(59, 89, 152); text-decoration: none;" target="_blank">{var_name}</a>&nbsp;a seu pedido.<br>
						Facebook, Inc., Attention: Community Support, Menlo Park, CA 94025</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>

<div>&nbsp;</div>
</body></html>