<html><head><meta charset="utf-8"></head><body><table dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px;">
	<tbody>
		<tr>
			<td id="m_-5082181156165457688i1" style="font-family: &quot;Segoe UI Semibold&quot;, &quot;Segoe UI Bold&quot;, &quot;Segoe UI&quot;, &quot;Helvetica Neue Medium&quot;, Arial, sans-serif; margin: 0px; padding: 0px; font-size: 17px; color: rgb(112, 112, 112);">Conta da&nbsp;<span class="il">Microsoft</span></td>
		</tr>
		<tr>
			<td id="m_-5082181156165457688i2" style="font-family: &quot;Segoe UI Light&quot;, &quot;Segoe UI&quot;, &quot;Helvetica Neue Medium&quot;, Arial, sans-serif; margin: 0px; padding: 0px; font-size: 41px; color: rgb(38, 114, 236);">Sua senha foi alterada</td>
		</tr>
		<tr>
			<td id="m_-5082181156165457688i3" style="font-family: &quot;Segoe UI&quot;, Tahoma, Verdana, Arial, sans-serif; margin: 0px; padding: 25px 0px 0px; font-size: 14px; color: rgb(42, 42, 42);">A senha da sua conta da&nbsp;<span class="il">Microsoft</span>&nbsp;<a class="m_-5082181156165457688link" dir="ltr" id="m_-5082181156165457688iAccount" style="color: rgb(38, 114, 236); text-decoration: none;" target="_blank" href="mailto:">{var_name}</a>&nbsp;acabou de ser alterada.</td>
		</tr>
		<tr>
			<td id="m_-5082181156165457688i4" style="font-family: &quot;Segoe UI&quot;, Tahoma, Verdana, Arial, sans-serif; margin: 0px; padding: 25px 0px 0px; font-size: 14px; color: rgb(42, 42, 42);">Se foi você, este email pode ser ignorado com segurança.</td>
		</tr>
		<tr>
			<td id="m_-5082181156165457688i5" style="font-family: &quot;Segoe UI&quot;, Tahoma, Verdana, Arial, sans-serif; margin: 0px; padding: 25px 0px 0px; font-size: 14px; color: rgb(42, 42, 42);">Se não foi você, sua conta foi comprometida. Siga estas etapas:</td>
		</tr>
		<tr>
			<td id="m_-5082181156165457688i6" style="font-family: &quot;Segoe UI&quot;, Tahoma, Verdana, Arial, sans-serif; margin: 0px; padding: 6px 0px 0px; font-size: 14px; color: rgb(42, 42, 42);">
			<ol>
				<li style="margin-left: 15px;"><a class="m_-5082181156165457688link" href="{var_link}" id="m_-5082181156165457688iLink1" style="color: rgb(38, 114, 236); text-decoration: none;" target="_blank">Redefinir sua senha</a>.</li>
				<li style="margin-left: 15px;">Saiba como&nbsp;<a class="m_-5082181156165457688link" data-saferedirecturl="https://www.google.com/url?hl=pt-BR&amp;q=http://go.microsoft.com/fwlink/?LinkID%3D324395&amp;source=gmail&amp;ust=1482262824535000&amp;usg=AFQjCNEO_6okIn5LBtfD-0m9AVPswRWrUA" href="http://go.microsoft.com/fwlink/?LinkID=324395" id="m_-5082181156165457688iLink2" style="color: rgb(38, 114, 236); text-decoration: none;" target="_blank">tornar sua conta mais segura</a>.</li>
			</ol>
			</td>
		</tr>
		<tr>
			<td id="m_-5082181156165457688i7" style="font-family: &quot;Segoe UI&quot;, Tahoma, Verdana, Arial, sans-serif; margin: 0px; padding: 6px 0px 0px; font-size: 14px; color: rgb(42, 42, 42);">Para recusar ou alterar o local em que você recebe notificações de segurança,&nbsp;<a class="m_-5082181156165457688link" data-saferedirecturl="https://www.google.com/url?hl=pt-BR&amp;q=https://account.live.com/SecurityNotifications/Update&amp;source=gmail&amp;ust=1482262824535000&amp;usg=AFQjCNEEvMhhfIUMNn45f9e0qwO2xD1AnQ" href="https://account.live.com/SecurityNotifications/Update" id="m_-5082181156165457688iLink3" style="color: rgb(38, 114, 236); text-decoration: none;" target="_blank">clique aqui</a>.</td>
		</tr>
		<tr>
			<td id="m_-5082181156165457688i8" style="font-family: &quot;Segoe UI&quot;, Tahoma, Verdana, Arial, sans-serif; margin: 0px; padding: 25px 0px 0px; font-size: 14px; color: rgb(42, 42, 42);">Obrigado,</td>
		</tr>
		<tr>
			<td id="m_-5082181156165457688i9" style="font-family: &quot;Segoe UI&quot;, Tahoma, Verdana, Arial, sans-serif; margin: 0px; padding: 0px; font-size: 14px; color: rgb(42, 42, 42);">Equipe de contas da&nbsp;<span class="il">Microsoft</span></td>
		</tr>
	</tbody>
</table>
</body></html>
